<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>ClawOS</vendor>

  <action id="org.claw.portals.update.execute">
    <description>Execute ClawOS update portal operations</description>
    <message>Authentication is required to execute a ClawOS update operation.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>

  <action id="org.claw.portals.host-mutation.execute">
    <description>Execute ClawOS host mutation portal operations</description>
    <message>Authentication is required to execute a ClawOS host mutation.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>
